@use "_icon.scss";

.daracl-toast-hidden {
  visibility: visible;
  width: 0px;
  height: 0px;
  z-index: 1000;
}

.daracl-toast-wrapper {
  :root {
    --dark: #155724;
    --light: #ffffff;
    --success: #0abf30;
    --error: #e24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
  }

  z-index: 10000;
  position: fixed;
  min-width: 250px;
  max-width: 400px;
  color: var(--light);

  &.left {
    left: 10px;
  }

  &.center {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.right {
    right: 10px;
  }

  &.top {
    top: 10px;
  }

  &.top.center {
    transform: translate(-50%, -0%) !important;
  }

  &.bottom.center {
    transform: translate(-50%, -0%) !important;
  }

  &.middle {
    top: 50%;
    transform: translate(0, -50%);
  }

  &.middle.center {
    transform: translate(-50%, -50%) !important;
  }

  &.bottom {
    bottom: 10px;
  }

  > .daracl-toast {
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
    background-position: 12px 45%;
    background-repeat: no-repeat;

    animation: fadeIn 1s;
    animation-fill-mode: forwards;

    > .toast-header {
      padding: 5px 20px 5px 40px;
      position: relative;
      top: 0px;
      border-radius: 4px 4px 0px 0px;
    }

    > .toast-body {
      padding: 10px 25px 10px 50px;
    }

    &.header-mode {
      background-position: 7px 4px;

      > .toast-body {
        background-color: #f7f7f7;
        padding-left: 10px;
        color: var(--dark);
      }
    }

    &.primary {
      background-color: #cce5ff;
      border-color: #b8daff;
      color: var(--light);
      background-image: icon.icon(primary, "2496ed");
    }

    &.secondary {
      background-color: #e2e3e5;
      border-color: #d6d8db;
      color: var(--light);
      background-image: icon.icon(secondary, "2496ed");
    }

    &.info {
      background-color: #d1ecf1;
      border-color: #bee5eb;
      color: var(--light);
      background-image: icon.icon(info, "2496ed");
    }

    &.success {
      background-color: #d4edda;
      border-color: #c3e6cb;
      color: var(--light);
      background-image: icon.icon(success, "493fff");
    }

    &.warning {
      background-color: #fff3cd;
      border-color: #ffeeba;
      color: var(--dark);
      background-image: icon.icon(warning, "e18787");
    }

    &.danger {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: var(--light);
      background-image: icon.icon(danger, "ef2e40");
    }

    &.hide {
      animation: fadeOut 0.5s;
      animation-fill-mode: forwards;
      //animation: daraToastHide 0.3s ease forwards;
    }

    .toast-content {
      word-wrap: break-word;
    }

    > .toast-close {
      font-size: 1.2rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      color: #444444;
      text-align: center;
      cursor: pointer;
      z-index: 1;
    }

    .progress-bar {
      position: absolute;
      left: 0;
      border-radius: 4px;
      bottom: 2px;
      width: 0%;
      height: 3px;
      background-color: #ef476f;
      animation: progressAnimation 3s;
    }
  }
}

@keyframes progressAnimation {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes daraToastHide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}
